.HAPEAlert{
    background-color: red;
    padding: 100px 40px;
    text-align: center;
    & h2{
        letter-spacing: normal;
        color: #FFFFFF;
        font-size: 36px;
        line-height: 1;
        font-family: HB,sans-serif;
    }
    & h2:last-child{
        font-size: 60px;
        font-style: normal;
        letter-spacing: 0;
        color: #fff;
    }
    & span{
        font-size: 21px;
        font-weight: 700;
        font-family: HB,sans-serif;
        margin-top: 36px;
        font-style: normal;
        letter-spacing: 0;
        color: #fff;
    }
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 65%;
}
@media screen and (max-width:820px) {
    .HAPEAlert{
        & h2{
        font-size: 24px;
        }
        & h2:last-child{
            font-size: 36px;
        }
    }
    .container{
        width: 100%;
    }
}